#main {
	max-width: 600px;
	margin: 0 auto;
}

body {
	overflow: hidden;
}

header {
	position: absolute;
	top: 0px;
	height: 100%;
	/*
	background-color: #4d79ff;
	*/
	width: 100%;
	left: 0px;
	/*
	background-image: url("../img/backgroundImage.jpg");
	background-size: cover;
	*/
}

#starzBanner {
	width: 40em;
	height: 22.56em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -11.28em 0px 0px -20em;
	z-index: 2;
	background-image: url("../img/starz.png");
	background-size: cover;
}

#starzDate {
	width: 23em;
	height: 5em;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	margin: 11.28em 0px 0px -11.5em;
}

@-webkit-keyframes colorChange {
	from {text-shadow: none;}
	to {text-shadow: 0px 0px 50px #d9d9d9;}
}

h1 {
	text-align: center;
	font-size: 5em;
	margin: 0px;
	color: #d9d9d9;
}

h1:hover {
	-webkit-animation:colorChange 1s;
	-webkit-animation-fill-mode: forwards;
	cursor: default;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}



.stars {
  background:#000 url(../img/stars.png) repeat top center;
  z-index:0;
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:4em;
  width:100%;
  height:100%;
  display:block;
}

.twinkling{
  background:transparent url(../img/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

#bottomContact {
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: #262626;
	z-index: 2;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

li {
	float: left;
	width: 20%;
}

li a {
	display: inline-block;
    color: #f2f2f2;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.5em;
    width: 100%;
}

div#link1 a {
	text-decoration: none;
}

div#link1 a:active {
	color: white;
}

li a:hover {
	background-color: #555;
	box-shadow: 0 0 0 2px white;
	text-shadow: 0 0 5px #0033cc;
}

#link1, #link2, #link3, #link4 {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
}

#link1 {
	background-color: #232;
	bottom: -100%;
}

#link2 {
	background-color: red;
	bottom: -200%;
}

#link3 {
	background-color: black;
	bottom: -300%;
}

#link4 {
	background-color: green;
	bottom: -400%;
}

.linkToTop {
	border: 2px solid white;
	width: 10em;
	height: 10em;
	border-radius: 100%;
	text-align: center;
	text-decoration: none;
	z-index: 6;
}

.linkToBot {
	border: 2px solid white;
	width: 10em;
	height: 10em;
	border-radius: 100%;
	text-align: center;
	text-decoration: none;
}

.linkToTopButton {
	position: absolute;
	top: 0px;
	z-index: 5;
	left: 50%;
	margin: 0 0 0 -5em;
}

.linkToBotButton {
	position: absolute;
	bottom: 0px;
	z-index: 5;
	left: 50%;
	margin: 0 0 0 -5em;
}

.linkToTopSpan {
	font-size: 10em;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: 0;
	color: white;
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	height: 100%;
	left: 0;
}



.linkToBotSpan {
	font-size: 10em;
	position: absolute;
	text-align: center;
	text-decoration: none;
	left: 0px;
	color: white;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

#topPage {
	position: fixed;
	top: 0px;
	width: 100%;
	height: ;
}

#topPageList {

}

.topPageListItem {

}

.topPageListLinks {

}

/*
body {
	position: absolute;
	background: url("../img/backgroundImage.jpg");
	background-size: cover;
}
*/

.flip-container {
	/*
	transform: perspective(1000px);;
	*/
	left: 10em;
	position: absolute;
	width: 200px;
	height: 207.346px;
	top: 10em;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.fronts, .backs {
	margin: 50px 0;
	position: relative;
	display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;

   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}

.fronts:before, .backs:before {

   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}

.fronts:after, .backs:after {
   position: absolute;
   display: block;
   color: red;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;

   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

.fronts {
   border-bottom: 70px  solid red;
}

.fronts:after {
   border-bottom: 70px solid red;
}

.fronts:before {
  border-bottom: 80px solid red;
}

.backs {
   border-bottom: 70px  solid blue;
}

.backs:after {
   border-bottom: 70px solid blue;
}

.backs:before {
  border-bottom: 80px solid blue;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	width: 200px;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 3;
	/* for firefox 31 */
	transform: rotateY(0deg);

}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);

}

.flip-container, .flipper, .back {
	z-index: 2;
}

.text-inside {
	text-align: center;
	position: absolute;
	
}